body {
    font-family: Roboto, sans-serif;
}

.one {
    background-color: #1F2937;
    padding: 10px 150px 150px 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.logo {
   color: #F9FAF8;
   font-size: 24px;
   font-weight: 800;
}

.hero-text {
    width: 400px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 12px;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 12px;
}

.button {
    background-color: #3882f6;
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: none;   
    border: none; 
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero-img {
    width: 400px;
}