body {
    font-family: Roboto, sans-serif;
}

.one {
    background-color: #1F2937;
    padding: 10px 150px 150px 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.logo {
   color: #F9FAF8;
   font-size: 24px;
   font-weight: 800;
}

.hero-text {
    width: 400px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 12px;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 12px;
}

.button {
    background-color: #3882f6;
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: none;   
    border: none; 
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero-img {
    width: 400px;
}

.two {
    padding: 50px 200px 100px 200px;
}

.square {
    border-radius: 8%;
    border: #3882f6 solid 3px;
    width: 150px;
    height: 150px;   
    margin-bottom: 12px;
    align-items: center;
    display: inline-block;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-bottom: 50px;
}

.info-content {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center ;
    gap: 20px;
}

.container {
    width: 180px;
    
}

.three {
    background-color: #E5E7EB;
    padding: 50px 260px 100px 260px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 200;
    font-style: italic;
}

.name {
    font-weight: 800;
    text-align: end;
    margin-top: 20px;
}

.four {
    margin: 100px 150px 100px 150px;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 50px 100px 50px 100px;
    color: #F9FAF8;
}

.call-header {
    font-weight: 800;
    font-size: 20px;
}

.call-text {
    font-size: 14px;
    color: #E5E7EB;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.call-text button {
    border: #F9FAF8 1px solid;
    border-radius: 5px;
    padding: 4px 8px 4px 8px;
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 14PX;
    font-weight: 700;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px 50px 100px
}